
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Safe Docs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Admin <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'mes-documents' %}">Mon Compte</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Matiéres
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
          
           
            
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      {% if user.is_authenticated %}
      <a href="{% url 'logout' %}" class="btn btn-primary">déconnexion</a>
      {% else %}
      <a href="{% url 'login' %}" class="btn btn-primary">connexion</a>
      {% endif %}
     
      <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="document">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>