{% extends 'partials/base.html'%}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="text-center mt-2">Detail du document</h1>
            <h2>Nom : {{document.titre}}</h2>
            <a href="{{ document.fichier.url }}">lien du document</a>
            <p>Description : {{document.description}}</p>

        </div>
        <div class="col-md-4">
            <h3 class="mt-2">Les autres document dans <strong>{{Subcategorie}} </strong> :</h3>
            <div class="row">

                
            
                    {%for doc in der %}
                     
                       {% if doc.id != document.id %}
                       {% if doc.Subcategorie.id == document.Subcategorie.id %}
                       <div style="width:600px; height:150px;" class="card mb-2"  >
                      <div class="col-4 col-md-8 mb-1">
                        
                       <a href="{{doc.id}}"><strong>{{doc.titre}}</strong></a>

                      </div>
                      <div class="col-12">
                        <a href="{{doc.fichier.url}}">{{doc.fichier}}</a>
                      </div>
                    </div>
                      {% endif %}
                      {% endif %}
                    {%endfor%}

            </div>
        </div>
    </div>

</div>
{% endblock %}