{% extends 'partials/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <form action="" method="POST">
            {% csrf_token %}
            <p>Voulez vous supprimer cet catégorie ? ({{object}})</p>
            <input type="submit" value="supprimer" class="btn btn-danger">
            {% if object.parent is not None %}
            <a href="{% url 'document_sous_category' object.parent %}" class="btn btn-primary ">annuler</a>
            {% else %}
            <a href="{% url 'dashboard' %}" class="btn btn-primary ">annuler</a>
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}