{% extends 'partials/base.html'%}



{% block content%}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">ajout d'une souscategorie </h2>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
              
                <!-- <label for="parent">Emplacement du dossier</label> -->
                     <input hidden name="parent" value="{{id}}">
                <label for="titre_categorie">Nom du dossier</label>
                     <input name="titre_categorie">
                <label for="desc">description  du dossier</label>
                     <input name="desc">
           

               
                <button class="btn btn-primary btn-block" >Enregistrer</button>
            </form>
           
       

        </div>
    </div>
</div>

{% endblock %}