


{% extends 'partials/base.html'%}


{% block content%}


<h2 class="text-center mt-4">Les documents dans le dossier <strong style="color: rgb(76, 72, 150);">{{chaine}}</strong> </h2>

 <style>


 </style>
  



 <div class="container">
 
    <div class="row">
    <form>
        <div>
            <a  class="btn btn-default"  onclick="history.back()"><i class="fas fa-arrow-left"></i>  back</a>
        </div>
    </form>
        <div class="col-md-12">
            <a href= "{% url 'ajouter-docu' id %}"    class="btn btn-secondary float-right"><i class="fas fa-plus"></i>  ajouter document</a>
        </div>
        <div class="col-md-12">
            <a href= "{% url 'ajouter-souscategorie1' id %}"   class="btn btn-info float-right"><i class="fas fa-plus"></i>  ajouter categorie</a>
        </div>
       

         
            
<!--             
            <div class="col-md-12"> 

            
                <div class="card mt-3"> -->
       
            {% if liste_doc_soucat  %}
            <div>
            <h2 class="text-center">Liste des fichiers </h2>
            <div class="card mt-5" >
                
            
                <div class="card-body">
                   



                    <table class="table table-hover" style="width: 500px;" >
                        <thead>
                            <tr>
                                <th class="h6">titre</th>
                                <th class="h6">anneé</th>
                              
                                <th class="h6">Subcategorie</th>
                                
                                <th class="h6">action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for document in liste_doc_soucat%}
                            <tr>
                                <td class="h6"><a href="{% url 'detail' document.id %}">{{document.titre}}</a></td>
                                <td class="h6">{{document.annee}}</td>
                               
                                <td class="h6">{{document.Subcategorie}}</td>
                               
                                <td class="h6">
                                    <a class="btn btn-default btn-rounded btn-sm" href="{% url 'modifier-document' document.pk %}"><i class="fas fa-edit"></i></a>
                                    <a class="btn btn-danger btn-rounded btn-sm" href="{% url 'supprimer-document' document.pk %}"><i class="fas fa-trash"></i></a>
                                   
    
                                 </td>
                                
                               
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
           </div>
            {% else %}
            <h2>Vous n'avez aucun fichier (pdf , word , photo ....)</h2>
            {% endif %}
            <!-- les souscategorie ajoutées avec les documents -->
           
            {% if liste_finale %}
            <div>
            <h2 class="text-center">Liste des dossiers (soucategories) </h2>
            <div class="card mt-5">
                <div class="card-body ">
                   



                    <table class="table table-hover" style="width:500px;">
                        <thead>
                            <tr>
                                <th class="h6">sous categorie</th>
                                
                                <th class="h6">action</th>
                                
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for s in liste_soucat %}
                            {% if s.parent.id == id %}
                           
                           

                            <tr>
                                <td class="h6"><a href="{% url 'document_sous_category' s.titre_categorie %}"><button class="btn btn-light">{{s.titre_categorie}}</button></a></td>
                                
                               
                                <td class="h6">
                                    <a class="btn btn-default btn-rounded btn-sm" href="{% url 'modifier-souscategorie' s.pk %}"><i class="fas fa-edit"></i></a>
                                    <a class="btn btn-danger btn-rounded btn-sm" href="{% url 'supprimer-souscategorie' s.pk %}"><i class="fas fa-trash"></i></a>
                                   
    
                                 </td>
                                
                               
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
           </div>
            {% else %}
            <hr/>
            <h2>Vous n'avez aucun dossier </h2>
         
            {% endif %}
          
        </div> 
              



             

   
</div>
{% endblock %}


<!-- 
{% for doc in liste_documents_scat%}
<h1>{{doc.titre}}</h1>


{%endfor%} -->