
{% extends 'partials/base.html'%}


{% block content%}

    
 
  

<h2 class="text-center mt-4">Les institutions</h2>
 <div class="container">
    <div class="row">
        
        <div class="col-md-12">
            <a href= "{% url 'ajouter-institution' %}"    class="btn btn-secondary float-right"><i class="fas fa-plus"></i>  ajouter institution</a>
        </div>

         
            
<!--             
            <div class="col-md-12"> 

            
                <div class="card mt-3"> -->
       
            {% if liste_inst %}


            <div class="card">
                <div class="card-body">
                   



                    <table class="table table-hover" style="width: 1100px;">
                        <thead>
                            <tr>
                                <th class="h6">institution</th>
                                <th class="h6">ville</th>
                                
                                <th class="h6">action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in liste_inst %}
                            <tr>
                               
                                <td class="h6">{{i.Institut}}</td>
                                <td class="h6">{{i.ville}}</td>
                                
                                <td class="h6">
                                    <a class="btn btn-default btn-rounded btn-sm" href="{% url 'modifier-institution' i.pk %}"><i class="fas fa-edit"></i></a>
                                    <a class="btn btn-danger btn-rounded btn-sm" href="{% url 'supprimer-institution' i.pk %}"><i class="fas fa-trash"></i></a>
                                   
    
                                 </td>
                                
                               
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
           
            
            
           
            {% else %}
            <h2>aucune Institution (ajoutez une institution )</h2>
            {% endif %}
        </div> 
              



             

   
</div>
{% endblock %}