
{% extends 'partials/base.html'%}


{% block content%}

    
 
  

<h2 class="text-center mt-4">Mes documents</h2>
 <div class="container">
    <div class="row">
        
        <div class="col-md-12">
            <a href= "{% url 'ajouter-document' %}"    class="btn btn-secondary float-right"><i class="fas fa-plus"></i>  ajouter document</a>
        </div>

         
            
<!--             
            <div class="col-md-12"> 

            
                <div class="card mt-3"> -->
       
            {% if liste_documents %}


            <div class="card">
                <div class="card-body">
                   



                    <table class="table table-hover" style="width: 1100px;">
                        <thead>
                            <tr>
                                <th class="h6">titre</th>
                                <th class="h6">anneé</th>
                                <th class="h6">matiére</th>
                                <th class="h6">Subcategorie</th>
                                <th class="h6">institution</th>
                                <th class="h6">action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for document in liste_documents%}
                            <tr>
                                <td class="h6"><a href="{% url 'detail' document.id %}">{{document.titre}}</a></td>
                                <td class="h6">{{document.annee}}</td>
                                <td class="h6">{{document.matiére}}</td>
                                <td class="h6">{{document.Subcategorie}}</td>
                                <td class="h6">{{document.institution}}</td>
                                <td class="h6">
                                    <a class="btn btn-default btn-rounded btn-sm" href="{% url 'modifier-document' document.pk %}"><i class="fas fa-edit"></i></a>
                                    <a class="btn btn-danger btn-rounded btn-sm" href="{% url 'supprimer-document' document.pk %}"><i class="fas fa-trash"></i></a>
                                   
    
                                 </td>
                                
                               
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
           
            
            
           
            {% else %}
            <h2>Vous n'avez aucun document</h2>
            {% endif %}
        </div> 
              



             

   
</div>
{% endblock %}