{% extends 'partials/base.html'%}



{% block content%}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">modifier d'un document {{id}}</h2>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
              
            
                
                     
              
               

                        
                     
                     
                            

                

                  

                     
              
               
           

               
                <input class="btn btn-primary btn-block" type="submit" value="modifier" >
            </form>
           
       

        </div>
    </div>
</div>

{% endblock %}