{% extends 'partials/base.html'%}



{% block content%}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">rechercher un document </h2>
            <form method="GET" action="">
        {{MyFilter.form}}
                
               
              
               
                
               
             
                
                <button type="submit" class="btn btn-primary">Search</button>
              </form>
       

        </div>
        
  
       
        {% for m in documents %}
       
      
       <div>{{m.titre}} </div>
      
         
        {% endfor %}

        
        
       



       
        
       
      
    </div>
   
   
  

 
</div>

{% endblock %}